[Unit]
Description=Run sdmon exporter service every minute

[Timer]
OnBootSec=50s
OnUnitActiveSec=50s
AccuracySec=10s
Unit=sdmon_exporter.service

[Install]
WantedBy=timers.target
EOF