[Unit]
Description=SD Card Endurance Test (FIO)
After=local-fs.target

[Service]
Type=simple
ExecStart=/home/pi/fio/fio.sh
Nice=10
Restart=always
RestartSec=5

StandardOutput=journal
StandardError=journal

# Optional safety hardening
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=false

[Install]
WantedBy=multi-user.target