[Unit]
Description=SD Card Endurance Test (FIO)
After=local-fs.target

[Service]
Type=simple
User=root
ExecStart=/home/pi/fio/fio.sh
Nice=10
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target